/* color palette from <https://github.com/vuejs/theme> */
:root {
  
  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  
  --vt-c-indigo: #2c3e50;
  
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dadarkrk-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  
  --brand-base: #1b77df;
  --brand-darker: #1a75da;
  --brand-darkest: #004492;
  --c-black-1: #676a6c;
  --c-black-2: #676963;
  --c-black-blue-1: #133878;
  --c-gray-1: #eaeff5;
  --c-gray-2: #ccc;
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;
}

/* semantic color variables for this project */
:root {
  /* --color-border: var(--vt-c-divider-light-2); */
  /* --color-heading: var(--vt-c-text-light-1); */
  --color-text: var(--c-black-1);
  /* --section-gap: 160px; */
  
  --color-background: var(--c-gray-1);
  /* --color-background-soft: var(--vt-c-white-soft); */
  /* --color-background-mute: var(--vt-c-white-mute); */
  
  --color-border: var(--c-gray-2);
  /* --color-border-hover: var(--vt-c-divider-light-1); */
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.428571429;
  font-family: 'Open Sans', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 0 .625rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  --padding-x-desktop: .5rem;
  padding: 0;
}

.wrapper-break {
  --padding-x-desktop: .625rem;
  margin: 0 -.625rem;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding: 0 var(--padding-x-desktop);
  }

  .wrapper-break {
    padding: 0 var(--padding-x-desktop);
  }
}